$ff:'Aleo', serif;
$ff2:'Josefin Sans', sans-serif;
$fw:400;
$fc:#fff;
$fz:16px;


$flex:flex;
$row:row;
$col:column;
$rowCent:center;
$colCent:center;

$margin-none: 0;
$margin-sm:   5px;
$margin-base: 15px;
$margin-lg:   30px;
$margin-xl:   50px;
$margin-xxl:  100;

$padding-xxl:  100px;
$padding-xl:   50px;
$padding-lg:   30px;
$padding-base: 15px;
$padding-sm:   5px;
$padding-none: 0;

$w100:100%;
$h100:100%;

$el:1170px;
$l:992px;
$m:768px;
$s:540px;