*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
}
body{
    background-color: rgb(226, 166, 211);
}
.menu{
    background-color: #9f9acf;
    width: 100wh;
    position: relative;

}


ul{
    text-align: center;
    padding-top: 60px;
    /* margin-top: 30px; */
    font-family: PT Sans ,sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    display: none;
}
 li{
    padding: 10px 0;
    border-top: 1px solid white;
    cursor: pointer;
 }

 input[type=checkbox]:checked + ul{
display: block; }

.menu__logo{
    position: absolute;
    top: 20px;
    left: 20px;

}
input[type=checkbox]{
    position: absolute;
    top: 5px;
    right: 20px;
}

#logo{
    color: white;
}

li:hover{
    color: #665f60;
    font-weight: 750;
}