.header {
    background-image: url(../img/header_bg.png);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

    &__title {
        margin-bottom: 15px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 4.8px;
    }
    &__subtitle {
        margin-bottom: 50px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 6.82px;
    }
    &__input {
        margin-bottom: 120px;
        width: 500px;
        height: 60px;
        background-color: #ffffff;
        border: none;
        &::placeholder {
            text-align: center;
            color: #999999;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 2.8px;
        }
    }
    &__button {
        
        width: 150px;
        height: 60px;
        border: 2px solid #ffffff;
        background-color: #5474fd;

        color: #ffffff;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 1.4px;
    }
    &__search {
        font-size: 20px;    
    }
    &__scroll {
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 2.8px;
    }
    &__down {
        font-style: 15px;
        color: #ffffff;
    }
    &__ul {
        list-style:none; 
        padding:0;
    }
    
}
.menu {
    position: sticky;
    top: 0px;
    height: 80px;
    background-color: #5474fd;
    z-index: 99;

    &__logo {
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }
    &__item {
        color: #ffffff;
        font-family: 'Aleo', serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        &:hover {
            color: #333333;
            cursor: pointer;
        }
    }
}
.choose {
    background-image: url(../img/choose__bg.png);
    background-size: cover;
    background-position: bottom;
    min-height: 685px;

    &__title {
        margin-top: 85px;
        margin-bottom: 60px;
        color: #ffffff;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
    }
    &__subtitle {
        margin-bottom: 50px;
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px;
        &--margin-bottom {
            display: block;
            margin-bottom: 20px;
        }
    }
}
.main-button {
        width: 225px;
        height: 60px;
        background-color: #5474fd;
        border: none;

        color: #ffffff;
        font-family: 'Aleo', serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
}
.choose__img {
    &--marginb5{
        margin-bottom: 5px;
    }
}
.works {
    height: 337px;
    background-color: #333333;

    &__subtitle {
        margin-top: 35px;
        color: #e8e8e8;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }
}
.place {
    height: 700px;
    background-size: cover;
    background-position: center center;
    &--bg1 {
        background-image: url(../img/place-bg1.png);
    }
    &--bg2 {
        background-image: url(../img/place-bg2.png);
        
    }
    
}
.txt-box {
    background-color: rgba(35, 35, 35, 0.9);
    padding: 50px 30px;

    &__title {
        margin-bottom: 30px;
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.5px;
    }
    &__subtitle {
        margin-bottom: 30px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }
    &__text {
        position: relative;
        color: #e8e8e8;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        &--indent {
            text-indent: 30px;
        }
    }
    &__button {
        margin-top: 50px;
    }
    &__quotes {
        position: absolute;
        top: -8px;
        left: -30px;
        color: #5474fd;
        font-size: 20px;
    }
}
.testimonial {
    height: 730px;
    background-image: url(../img/testimonial-bg.png);
    background-size: cover;
    background-position: center center;

    &__title {
        color: #ffffff;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 100px;
        @media screen and (max-width: 768px) {
            margin-bottom: 50px;
        }
    }
    &__img {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.footer {
    height: 268px;
    background-color: #232323;
    &__title {
        margin-bottom: 15px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 3.36px;
    }
    &__subtitle {
        margin-bottom: 30px;
        color: #ffffff;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;   
        letter-spacing: 1.6px;
    }
    &__icon {
        font-size: 15px;
        color: #ffffff;
        &:hover {
            color: #5474fd;
            cursor: pointer;
        }
    }
}