body {
    background: url(background.png);
}
.student {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.st-about {
    padding: 10px 30px;
    background-color: rgb(193, 204, 127);
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 15px;
    font-size: 24px;

}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fit, 1fr); */
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: 50px 10%;
}
.lesson {
    display: grid;
    background-color: rgb(175, 142, 189);
    border-radius: 15px;
    font-family: 'Philosopher', sans-serif;
}
.numberl {
    font-size: 21px;
    text-align: center;
    margin: 10px 0;
}
.taskl {
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
}
.aboutl{
    font-size: 17px;
    margin: 5px 10px;
}
.aboutl-t3 {
    margin: 10px 0px;
}
.btn {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    align-self: center;
    
}
a {
    justify-self: center;
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2EE59D;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.4);
    transition: .3s;
  }
  a:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
  }