.data {
    float: left;
}
.photo {
    float: left;
}
.cent{
    text-align: center;
}
.lang{
    list-style: none;
}
.content{
    /* height: 10em;
    position: relative;
} */
    display: flex;  
    justify-content: center;
    align-items: center;

}
.conten{
    /* margin: 0;;
    position: absolute;
    top: 250%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
}
