header {
	background: url(img/header.png) no-repeat 100%;
	background-size: cover
}

.logo {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.667;
	text-align: left;
	margin: 0
}

.text_1 {
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.333;
	padding-top: 217px
}

.text_2 {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3.429;
	padding-bottom: 165px
}

.btn-primary,
.btn-secondary,
button {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	width: 99px;
	height: 29px;
	background-color: rgb(123, 238, 199);
	border: none;
	border-radius: 0%;
	opacity: 0.5;
	line-height: 2.143
}

.btn-primary {
	width: 165px;
	height: 50px
}

.background {
	background-color: rgb(123, 238, 199)
}

.text_block_4 {
	font-size: 30px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.6
}

.btn-secondary {
	background-color: rgb(255, 255, 255);
	color: rgb(123, 238, 199);
	width: 165px;
	height: 49px;
	opacity: 1
}

.block_small {
	background-color: rgb(255, 255, 255);
	width: 556px;
	height: 230px
}

.text_1_block_small {
	font-size: 24px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase
}

.text_2_block_small {
	font-size: 16px;
	font-family: "OpenSans";
	color: rgb(153, 153, 153);
	line-height: 1.5
}

::placeholder {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(205, 205, 205);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4
}

input {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	width: 390px;
	height: 52px;
	border-radius: 0%
}

a {
	font-size: 18px;
	color: rgb(153, 153, 153);
	text-transform: uppercase;
	line-height: 2.667;
	margin: 50px 0 0 10px
}

.text_footer {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(154, 154, 154);
	text-transform: uppercase;
	line-height: 3.429;
	text-align: right
}

.main-info__text-header {
	font-size: 18px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.667
}

.main-info__text {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(153, 153, 153);
	line-height: 1.714;
	text-align: left
}

.main-info__text-long {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.714
}

.main-info__date {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.5;
	background-color: rgb(123, 238, 199);
	width: 160px;
	height: 30px;
	text-align: center
}

.comment-icon {
	font-size: 18px;
	font-family: "Ionicons";
	color: rgb(204, 204, 204);
	text-transform: uppercase;
	line-height: 2.667;
	text-align: left
}

.search__search-text {
	background-color: rgb(236, 236, 236);
	width: 262px;
	height: 40px;
	font-size: 12px;
	font-family: "Montserrat";
	color: rgba(96, 96, 110, 0.502);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4;
	border: none
}

.posts-block-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 10px
}

.posts-block__text-header {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3.429
}

.posts-block__block {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(152, 152, 152);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 4;
	text-align: center
}

.posts-block__post__header-text {
	font-size: 12px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.286;
	margin: 0
}

.posts-block__post__text {
	font-size: 12px;
	font-family: "OpenSans";
	color: rgb(154, 154, 154);
	line-height: 1.5
}

.categories__categories-text-header {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(96, 96, 110);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3.429
}

.categories__categories-text {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(96, 96, 110);
	line-height: 3.429;
	padding-left: 20px
}

.categories__categories-digit {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(96, 96, 110);
	line-height: 3.429;
	text-align: right
}

.categories-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr
}

.social-icons {
	font-size: 18px;
	color: rgb(153, 153, 153);
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 45px
}

.footer-link {
	font-size: 14px;
	font-family: "OpenSans";
	color: rgb(154, 154, 154);
	text-transform: uppercase;
	line-height: 3.429
}

.post-grid {
	display: grid;
	grid-template-columns: auto auto auto auto 1fr;
	grid-template-rows: 1fr
}

.ion-ios-heart {
	color: #ec5f5f
}

.post-grid__digit {
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(204, 204, 204);
	line-height: 1.8
}

@media (max-width:645px) {
	.form-control {
		width: 275px
	}
	.btn-primary {
		width: 65px;
		height: 50px
	}
	.form-row {
		padding-right: 30px
	}
	.block_small {
		width: 500px
	}
}

@media (max-width:576px) {
	.categories {
		display: none
	}
	.posts-block,
	.search__search-text {
		display: none
	}
	.block_small {
		width: 450px
	}
	.form-row {
		padding-right: 0
	}
}