.conteiner{
    width: 1716px;
    height: 1351px;
    background-color: #ffffff;
}
.card{
    width: 1400px;
    height: 940px;
    box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 140px 138px 227px 121px;
}
h2{
    position: absolute;
    color: #171717;
    font-family: "Playfair Display";
    font-size: 42px;
    font-weight: 400;
    letter-spacing: -0.21px;
    margin: 140px 1039px 39px 123px;
}
span{
    color: #171717;
    font-family: "Playfair Display";
    font-size: 110px;
}
.card .text p{
    position: absolute;
    opacity: 0.7;
    color: #171717;
    font-family: Lato;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -0.09px;
    line-height: 34px;
    text-align: justify;
    margin: 245px 245px 227px 121px;    
}
button {
    width: 264px;
    height: 68px;
    border: 2px solid #eaa258;
    color: #eaa258;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 66px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 752px 1015px 120px 121px;
}