@font-face {
    font-family: "TrebuchetMS";
    src: url(../fonts/TrebuchetMS.eot);
    src: url(../fonts/TrebuchetMS.otf);
    src: url(../fonts/TrebuchetMS.svg);
    src: url(../fonts/TrebuchetMS.ttf);
    src: url(../fonts/TrebuchetMS.woff);
    font-weight: normal;
    font-style: normal;
}