$ff:'Lato', sans-serif;
$fw:700;
$fc:#3c3c3c;
$fz:16px;

$flex:flex;
$row:row;
$col:column;
$rowCent:center;
$colCent:center;

$margin-none: 0;
$margin-sm:   5px;
$margin-base: 15px;
$margin-lg:   30px;
$margin-xl:   50px;
$margin-xxl:  100;

$padding-xxl:  100;
$padding-xl:   50;
$padding-lg:   30;
$padding-base: 15;
$padding-sm:   5;
$padding-none: 0;

$w100:100%;
$h100:100%;

$el:1170px;
$l:992px;
$m:768px;
$s:540px;