@font-face {
    font-family: 'Pacifico';
    src: url('font/Pacifico-Regular.woff2') format('woff2'),
        url('font/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Light.woff2') format('woff2'),
        url('font/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Bold.woff2') format('woff2'),
        url('font/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('font/Raleway-Black.woff2') format('woff2'),
        url('font/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}




