@font-face {
  font-family: 'Raleway Light';
  src: url("/fonts/Raleway-Light.woff") format("woff"), url("/fonts/Raleway-Light.woff2") format("woff2"); }

@font-face {
  font-family: 'Raleway reg';
  src: url("/fonts/Raleway-Regular.woff") format("woff"), url("/fonts/Raleway-Regular.woff2") format("woff2"); }

@font-face {
  font-family: 'Raleway bold';
  src: url("/fonts/Raleway-Bold.woff") format("woff"), url("/fonts/Raleway-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Raleway black';
  src: url("/fonts/Raleway-Black.woff") format("woff"), url("/fonts/Raleway-Black.woff2") format("woff2"); }

@font-face {
  font-family: 'Pacifico reg';
  src: url("/fonts/Pacifico-Regular.woff") format("woff"), url("/fonts/Pacifico-Regular.woff2") format("woff2"); }
